@import "toolbar";

body {
	margin: 0;
	padding: 0;
	background: #000;
}

iframe#toolbar {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 200px;
	height: 300px;
	z-index: 100;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

div#canvas {
	position: relative;
}

div#paper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
}

div#capture {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

